header,
footer {
  padding: 0.5em;
  color: white;
  background-color: gray;
  clear: left;
}
.title, .subtitle, .logged-user {
  color: rgb(2, 25, 23);
}
h1.header {
  padding: 0;
  margin: 0;
}
div#user {
  float: right;
}

.hatter {
  background-image: url("../images/bg.jpg");
}
.tartalom {
  max-width: 80%;
  padding: 50px;
  margin: auto;
  background-color: rgba(157, 136, 96, 0.3);
  color: wheat;
}
nav {
  width: fit-content;
  margin: auto;
  float: inherit;
}
ul {
  float: left;
  width: 100%; /* A menü az alatta levő szövegtől elválik, birtokolja a teljes vízszintes sávját. */
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgba(200, 200, 255, 0.5);
}
a {
  float: left;
  width: 6em; /* Fix szélességű gombok érhetők el. Érdemes azonban vigyázni ezzel a módszerrel, mert ha a szöveg nem fér ki, a dizájn szétesik. */
  text-decoration: none; /* Ne legyen aláhúzva a link. */
  color: white;
  background-color: rgba(68, 80, 104, 0.8);
  padding: 0.2em 0.6em;
  border-right: 1px solid white;
  transition: transform .2s; /* Animation */
}
a.selected {
  background-color: rgba(255, 99, 99, 0.8);
}
a:hover {
  background-color: rgba(14, 24, 44, 0.8);
  transform: scale(1.1);
  color: white;
  text-decoration: none;
} /* Az egérkurzorra színváltással, és nagyítással reagál a menüpont. */
li {
  display: inline;
} /* Ez a sor oldja meg, hogy a menüpontok egymás mellé kerüljenek. */
#informaciosdiv {
  width: 80%;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
#cim {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
  padding-bottom: 100px;
}

#osvenyinfo {
  float: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 15px grey;
  width: 80%;
}

#sel {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  padding-bottom: 100px;
}
.cimke {
  display: inline-block;
  width: 60px;
  text-align: right;
}

.form-label {
  text-align: left;
}

span {
  margin: 3px 5px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: center;
}

select {
  display: inline-block;
  width: 200px;
  text-align: center;
  box-shadow: 5px 5px 15px grey;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.framed-fieldset {
  margin: 10px;
  padding: 20px;
  border: thin solid wheat;
}

.sel-y-n-e {
  max-width: 150px;
}

.placeholderRed {
  background-color: lightsalmon;
}
